/* app.css */
body {
  font-family: 'Arial', sans-serif;
  background-color:aqua ;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  border: 1px solid blue;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movie-card h3 {
  margin: 10px;
  font-size: 18px;
}

.movie-card p {
  margin: 0 10px 10px;
  font-size: 14px;
}

.filter {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


